extends layout

block content
  h1= title
  if error
    p= JSON.stringify(error)
  div.grid
    div.grid-sizer
    each item in items
      div.grid-item
        div.item-container.padded
          //- span= item.name
          if item.isVideo
            video(controls)
              source(src= "/file?path=" + item.relPath)
          else
            img(src= "/file?path=" + item.relPath)
