extends layout

block content
  h1= title
  div.path
    span= basePath
    each relPathItem in relPathList
      span /
      span= relPathItem
  if error
    p= JSON.stringify(error)
  div.grid.padded
    //- div.grid-sizer
    each item in items
      div.grid-item
        div.item-container
          if item.isVideo
            video(controls title= item.name)
              source(src= "/file?path=" + relPath + '/' + item.name)
          else
            img(title= item.name src= "/file?path=" + relPath + '/' + item.name)
