/* Box sizing fix https://css-tricks.com/box-sizing/ */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  color: #333;
  background-color: #eee;
  font-family: sans-serif;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2em;
  background-color: white;
}

/* MasonryJS */
.grid-item {
  display: inline-block;
  position: relative;
}
.grid-item:before {
  content: "";
  display: inline-block;
  margin-top: 100%;
}

.item-container {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.2s ease;
}
.item-container img, .item-container video {
  display: block;
  
  max-height: 100%;
  max-width: 100%;
  width: auto;
  
  margin: 0 auto;
}


.grid.padded .item-container {
  margin: 0.5em;
}
.grid.padded .item-container img, .grid.padded .item-container video {
  border-radius: 2px;
  box-shadow: 0 0 2px #333;
}

.grid-sizer, .grid-item {
  width: 100%;
}

.item-container.zoom {
  z-index: 1;
  position: fixed;
  left: 1em;
  top: 1em;
  right: 1em;
  bottom: 1em;
  background-color: rgba(0, 0, 0, 0.6);
}





@media only screen and (min-width: 400px) {
  .grid-sizer, .grid-item {
    width: 50%;
  }
}

@media only screen and (min-width: 700px) {
  .grid-sizer, .grid-item {
    width: 33.3333333%;
  }
}

@media only screen and (min-width: 900px) {
  .grid-sizer, .grid-item {
    width: 25%;
  }
}

@media only screen and (min-width: 1100px) {
  .grid-sizer, .grid-item {
    width: 20%;
  }
}

/* Helpers */

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
